body{
    text-align: center;
    background-color: papayawhip;
}
label{
    display:block;
    margin:10px;
    font-size: larger;
    padding: 4px;
    margin-top:20px;
    color: black;
    
}
input{
    padding: 10px;
    border-radius: 0.1rem;
    color:black;
    width: 250px;
    text-align: center;
    margin-bottom: 20px;
}
h1{
    color:black;
    text-align: center;
}
#temp_diff{
    width:100px;
    height:30px;
    font-weight: 300;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#submitbtn{
    width:100px;
    height: 40px;
    padding-top: 2.5% ,2.5%;
    text-align: center ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#divcss
{
    padding-top: 5rem;
}
.container-center{
    padding-top: 2rem;
    margin:10px;
    font-size: 200%;
}
#resultContainer
{
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
